@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
  --cor-primaria: #000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
}
html {
  font-size: 62.5%;
}

body {
  color: var(--cor-secundaria);
  background-color: #000;
  font-size: 1.6rem;
}

.cabecalho {
  padding: 2% 0 0 12%;
}

.cabecalho__menu {
  display: flex;
  column-gap: 80px;
}

.cabecalho__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
  color:#22d4fd;
}

.apresentacao {
  padding: 5% 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apresentacao__conteudo {
  display:flex;
  flex-direction: column;
  width: 615px;
  gap: 40px;
}

.apresentacao__titulo {
  color: #22d4fd;
  font-family: 'Krona One', sans-serif;
  font-size: 3.6rem;
}

.apresentacao__subtitulo{
  font-family: 'Krona One', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
}

.apresentacao__texto {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 32px;
}

.apresentacao__link {
  display:flex;
  justify-content: center;
  column-gap: 8px;
  color: #000;
  background-color: #22d4fd;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 21.5px 0;
  width: 378px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}

.apresentacao__link--transparente {
  color: var(--cor-secundaria);
  background-color: transparent;
  border: 2px solid #22d4fd;
  transition: all .5s ease-in-out;
}

.apresentacao__link--transparente:hover {
  background-color: #272727;
}

.apresentacao__link--transparente .fa-brands {
  transition: color .5s ease-in-out;
}

.apresentacao__link--transparente:hover .fa-brands {
  color: #22d4fd;
}

.apresentacao__imagem img {
  max-width: 100%;
}

.rodape {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
  background-color: #22d4fd;
  padding: 24px;
  text-align: center;
}
